<div class="four_squares">

  <div class="row">
    <div class="bloc_left">
      {{ content.bloc_left_1 }}
    </div>
    <div class="bloc_right">
    {{ content.bloc_right_1 }}
    </div>
  </div>  
    
  <div class="row">
    <div class="bloc_left">
    {{ content.bloc_left_2 }}
    </div>
    <div class=bloc_right">
    {{ content.bloc_left_2 }}
    </div>
  </div>  
    
  
</div>
